body {
  background-color: black;
}

.load {
  border: none;
  background-color: blue;
  font-weight: bold;
  color: white;
  box-shadow: -2px 4px 4px red;
}

.load:active {
  background-color: red;
  opacity: 0.5;
  transition: 0.3s;
  box-shadow: -2px 4px 4px blue;
}